.footer {
  background-color: #c7e5ff;
  padding: 74px 30px 24px;
  padding-inline: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style-type: none;
  }

  h2 {
    font-size: 22px;
  }
}

.footerContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 14px;
  font-size: 18px;
}

.navigation {
  display: flex;
  flex-direction: column;
  gap: 26px;
  font-size: 20px;
  font-weight: 500;
}

.leftSideWrapper {
  display: flex;
  justify-content: space-between;
  width: 640px;
}

.contacts {
  h2 {
    font-size: 28px;
    margin-bottom: 28px;
  }

  address {
    display: flex;
    flex-direction: column;
    gap: 28px;
    font-style: normal;
  }
}

.contact {
  display: flex;
  gap: 18px;
  align-items: center;
  font-weight: 500;
}

.webLink {
  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    font-size: 18px;
    font-weight: 400;
  }
}

.credits {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  font-size: 18px;
  color: #525252;

  a {
    color: #525252;
  }
}
