@import "../../theme/colors";

.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 60px;
  row-gap: 90px;

  @media (max-width: 870px) {
    grid-template-columns: 1fr;
    row-gap: 32px;
  }
}

.figure {
  position: relative;
  width: min(770px, 45vw);
  // height: 520px;
  aspect-ratio: 77/52;

  @media (max-width: 870px) {
    width: 90vw;
  }

  div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    padding: 32px;
  }

  h2 {
    color: $color-white;
    font-size: 28px;
    font-weight: 500;
  }
}
