@import "../../shared/theme/colors";

.wrapper {
  background: linear-gradient(#ffd1d1 0%, #fff 100%);
  display: flex;
  gap: 63px;
  padding: 116px 30px;
  justify-content: center;
}

.content {
  max-width: 666px;
  display: flex;
  flex-direction: column;
  gap: 35px;

  button {
    border: none;
    border-radius: 30px;
    padding: 13px 47px;
    background-color: $color-red;
    font-family: "Montserrat", Arial, sans-serif;
    color: $color-white;
    font-weight: 600;
    font-size: 24px;
    transition: background-color 0.1s;
  }

  button:hover {
    background-color: #cc0000;
  }

  h1 {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
  }

  input {
    font-family: "Montserrat", Arial, sans-serif;
    color: black;
    border: none;
    border-bottom: 1px black solid;
    outline: none;
    background-color: transparent;
    font-size: 20px;
    padding: 6px;

    &::placeholder {
      color: black;
    }
  }

  input[type="file"] {
    border: none;
  }
}

.fileInput {
  input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
  }

  label {
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
  }

  label::before {
    margin-right: 8px;
    content: url("/images/plus.svg");
  }
}

.fileContainer {
  display: flex;
  justify-content: right;
}

.checkbox {
  display: flex;
  gap: 9px;
  font-size: 16px;
  align-items: center;
  margin-top: 82px;

  input {
    appearance: none;
    -webkit-appearance: none;
    min-width: 18px;
    height: 18px;
    border: 1.5px $color-red solid;
    border-radius: 5px;
  }

  input:checked {
    background-color: $color-red;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
  }
}

.submitWrapper {
  margin-top: 19px;

  button {
    margin-top: 29px;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
