@import "../../shared/theme/colors";

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 64px;
  padding-inline: 20px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap-reverse;
  gap: 40px;
  margin-top: 29px;

  p {
    max-width: 510px;
    margin-inline: 50px;
    font-size: 24px;
  }

  p:last-child {
    text-align: end;
  }

  @media (max-width: 1268px) {
    text-align: center;

    p:last-child {
      text-align: inherit;
    }
  }

  @media (max-width: 550px) {
    p {
      font-size: 12px;
    }
  }
}

.section:nth-of-type(even) {
  flex-direction: row-reverse;
  text-align: end;

  @media (max-width: 1268px) {
    text-align: center;
  }
}

.subtitle {
  margin-top: 55px;
  text-align: center;
  font-weight: 500;
  font-size: 28px;
  max-width: 846px;

  strong {
    color: $color-red;
    font-weight: 500;
  }

  @media (max-width: 550px) {
    font-size: 14px;
  }
}

.logoLineWrapper {
  margin-top: 69px;
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.imageContainer {
  position: relative;
  width: min(578px, 90vw);
  aspect-ratio: 578/330;
}
