@import "../../shared/theme/colors";

.wrapper {
  background-image: url("/images/mainBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 100vh;
  display: flex;
  justify-content: end;
  padding-block: 84px 101px;
  padding-inline: 121px;
  align-items: center;

  @media (max-width: 870px) {
    justify-content: center;
    padding-inline: 42px;
  }
}

.card {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 40px;
  padding: 115px 60px 92px 60px;
  max-width: 668px;
  text-align: center;

  h1 {
    font-size: 50px;
    font-weight: 600;

    strong {
      color: $color-red;
      font-weight: inherit;
    }
  }

  p {
    margin-top: 1em;
    font-size: 32px;
    font-weight: 500;
  }

  @media (max-width: 650px) {
    padding: 45px 26px;

    h1 {
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }
  }

  @media (max-width: 480px) {
    h1 {
      font-size: 22px;
    }

    p {
      font-size: 14px;
    }
  }
}
