.wrapper {
  padding: 48px 30px 90px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(#c7e5ff 0%, #fff 100%);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
  gap: 36px;
  max-width: 946px;
  text-align: center;
}

.cardsContainter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 42px;
  row-gap: 32px;

  @media (max-width: 1430px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: 1050px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }
}
