.wrapper {
  padding-block: 13px;
  display: flex;
  gap: 45px;
  align-items: center;
  justify-content: start;
  animation: 8s linear infinite normal move;
  min-width: 2777px;
  margin-inline: -20px;

  &[data-direction="left"] {
    animation-direction: reverse;
  }

  @keyframes move {
    from {
      translate: -725px 0px;
    }

    to {
      translate: 0px 0px;
    }
  }
}

.wrapperLogo {
  padding-block: 16px;
  display: flex;
  gap: 48px;
  align-items: center;
  animation: 2s linear infinite normal move-wow;
  min-width: 2779px;
  font-size: 22px;
  background-color: #6cbaff;

  &[data-direction="left"] {
    animation-direction: reverse;
  }

  @keyframes move-wow {
    from {
      translate: -172px 0px;
    }

    to {
      translate: 0px 0px;
    }
  }
}
