@import "../../shared/theme/colors";

.header {
  display: flex;
  padding: 30px 151px 22px 160px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
  background-color: $color-white;
  width: 100%;

  @media (max-width: 1500px) {
    padding-inline: 30px;
  }
}

.list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-weight: 500;

  a {
    color: $color-black;
  }

  .filled {
    background-color: $color-blue;
    padding: 15px 21px;
    border-radius: 12px;

    a {
      color: $color-white;
      font-weight: 700;
    }
  }

  @media (max-width: 1270px) {
    gap: 20px;
  }

  @media (max-width: 1055px) {
    display: none;
  }
}

.button {
  background: none;
  border: none;
  cursor: pointer;

  @media (min-width: 1055px) {
    display: none;
  }
}

.menu {
  position: fixed;
  z-index: 1000;
  top: 106;
  right: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $color-white;
  transform: translateX(100%);
  transition: all 0.3s;
  padding-inline: 44px;
}

.menu[data-is-opened="true"] {
  transform: translateX(0);
}

.menuList {
  display: flex;
  flex-direction: column;
  list-style-type: none;

  li {
    padding-block: 17px;
    padding-right: 17px;
    border-bottom: 1px $color-black solid;
    font-size: 22px;
    font-weight: 500;

    a {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.whatsappButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3px;
  padding-left: 4px;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  background-color: #05c241;
  margin-left: -40px;
}
