html {
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

main {
  min-height: 100vh;
}

body {
  color: #000;
  background: #fff;
  font-family: var(--font-montserrat) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 20px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: black;
  font-family: Montserrat, sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 130%;
}

h2 {
  font-size: 44px;
  font-weight: 600;
}

.szh-accordion__item--expanded {
  .chevron {
    transform: rotate(180deg);
  }
}

@media (max-width: 550px) {
  h2 {
    font-size: 24px;
  }

  body {
    font-size: 12px;
  }
}
