.wrapper {
  margin: 58px 30px 97px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 41px;
  gap: 36px;
  max-width: 977px;
  text-align: center;
}
