@import "../../shared/theme/colors";

.wrapper {
  display: flex;
  min-width: 100vw;
  padding-top: 200px;
  justify-content: center;
  align-items: center;
}

.headerImageWrapper {
  position: relative;
  padding-inline: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  height: 869px;
  padding-top: 176px;
  color: $color-white;

  div {
    max-width: 1234px;
    display: flex;
    flex-direction: column;
    gap: 56px;
  }

  img {
    z-index: -1;
  }

  h2 {
    font-size: 40px;
    font-weight: 500;
  }

  h1 {
    font-size: 70px;
  }

  @media (max-width: 940px) {
    height: auto;
    padding-block: 60px;

    h2 {
      font-size: 26px;
    }

    h1 {
      font-size: 40px;
    }
  }
}

.textWrapper {
  display: flex;
  justify-content: center;
  padding: 101px 106px 91px 247px;
  gap: 170px;

  @media (max-width: 1710px) {
    flex-wrap: wrap;
    padding-inline: 100px;
    gap: 50px;
  }

  @media (max-width: 680px) {
    padding-inline: 30px;
  }
}

.leftContent {
  max-width: 611px;
  display: flex;
  flex-direction: column;
  gap: 44px;
  font-size: 28px;
  font-weight: 500;

  @media (max-width: 1710px) {
    font-size: 18px;
  }

  .listSection {
    margin-inline: -80px;
    padding: 35px 80px;
    border: 4px $color-blue solid;
    border-radius: 30px;
    font-size: 32px;

    @media (max-width: 1710px) {
      font-size: 20px;
      padding: 25px 50px;
      margin-inline: -50px;
    }

    @media (max-width: 680px) {
      padding-inline: 30px;
      margin-inline: 0;
    }
  }

  .buttonWrapper {
    display: flex;
    justify-content: center;
  }

  a {
    padding: 22px 73px;
    border: none;
    border-radius: 30px;
    font-size: 36px;
    font-weight: 500;
    background: linear-gradient(0.25turn, #ffd1d1 0%, #ff9999 100%);
    cursor: pointer;
    transition: opacity 0.3s;
    font-family: Montserrat, sans-serif;
    text-align: center;

    &:hover {
      opacity: 0.8;
    }

    @media (max-width: 1710px) {
      font-size: 24px;
    }
  }

  li {
    margin-left: 40px;
  }

  h2 {
    font-size: 36px;
    text-align: center;
    font-weight: 500;

    @media (max-width: 1710px) {
      font-size: 24px;
    }
  }
}

.rightContent {
  max-width: 780px;
  display: flex;
  flex-direction: column;
  gap: 31px;
  align-items: stretch;

  section {
    padding: 33px 53px;
    font-size: 24px;
    font-weight: 500;
    display: flex;

    h2 {
      font-size: 28px;
      margin-bottom: 9px;
    }

    @media (max-width: 1710px) {
      font-size: 16px;

      h2 {
        font-size: 20px;
      }
    }

    @media (max-width: 680px) {
      padding: 20px;
    }
  }

  section:nth-of-type(odd) {
    background-color: #c7e5ff;
    border-radius: 30px;
  }
}

.examplesWrapper {
  padding: 80px 160px 73px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  background: linear-gradient(#c7e5ff 0%, #fff 100%);

  h2 {
    font-size: 44px;
    font-weight: 500;
    text-align: center;
  }

  @media (max-width: 830px) {
    padding-inline: 30px;

    h2 {
      font-size: 32px;
    }
  }
}
