@import "../../shared/theme/colors";

.article {
  display: flex;
  width: 950px;
  justify-content: stretch;
  align-items: center;
  gap: 30px;

  strong {
    font-weight: 600;
    color: $color-blue;
  }

  p {
    max-width: 550px;
  }

  div {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 82px;
    aspect-ratio: 1;

    @media (max-width: 550px) {
      height: 40px;
    }
  }

  @media (max-width: 1020px) {
    width: auto;
  }
}

.articleWrapper {
  margin: 51px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex: 1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  // min-height: calc(100vh - 106px);
}
