@import "../../theme/colors";

.card {
  width: 313px;
  height: 402px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b1c6d8;
  border-radius: 20px;
  padding: 52px;
  text-align: center;
  color: $color-white;
  background-position: center center;
  background-size: cover;
  transition: all 0.3s;

  &:hover {
    translate: 0 -10px;
  }

  h2 {
    font-size: 24px;
  }

  @media (max-width: 711px) {
    width: 40vw;
    aspect-ratio: 162/207;
    height: auto;

    h2 {
      font-size: 14px;
    }
  }
}
